* {
    margin: 0;
    padding: 0;
}
 :root {
    --primary: rgb(255, 255, 255);
    --nav: rgb(59, 132, 187);
 }
.navIcon {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.navIcon i {
    color: var(--primary);
    font-size: 1.5rem;
}
.navLinks {
    display: flex;
    gap: 20px;
}
nav {
    display: flex;
    align-items: center;
    padding: 1.4rem 1.4rem 1.4rem 1.4rem;
    gap: 30px;
    border-bottom: 1.5px solid #4473a0;
    background-color: var(--nav);
}
nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdownButton {
    padding: 0;
    color: rgb(255, 255, 255);
    padding: 0;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dropdown-content {
    
    display: none;
    position: absolute;
    top: 100%;
    padding-top: 20px;
    left: 0;
    background-color: var(--nav);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #3b70a2;
}
.dropdown:hover .dropdown-content {
  display: block;
}
header {
    background-color: #ffffff;
    display: flex;
    height: 40vh;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
    justify-content: space-between;
    gap: 4vw;
    /* background-image:linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(images/gameBanner.jpg);
    background-size: cover; */
}
header h1 {
    font-size: 3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--nav);
}
header .textSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
header h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
}
header p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#diceImg {
    width: clamp(300px, 30vw, 500px);
    padding: 5vw;
}
@media screen and (max-width: 750px){
    #diceImg {
        display: none;
    }
    
}
@media screen and (max-width: 400px){
    header h1 {
        font-size: 2rem;
    }
    header h3 {
        font-size: 1rem;
    }
    .navIcon {
        display: none;
    }
    .navLinks {
        flex-direction: column;
    }
}